@font-face {
  font-family: 'iconfont';  /* Project id 2314058 */
  src: url('https://at.alicdn.com/t/font_2314058_iaeve7n4mw.woff2?t=1623322322367') format('woff2'),
       url('https://at.alicdn.com/t/font_2314058_iaeve7n4mw.woff?t=1623322322367') format('woff'),
       url('https://at.alicdn.com/t/font_2314058_iaeve7n4mw.ttf?t=1623322322367') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontjiantou2:before {
  content: "\e633";
}

.icon-jiantou9:before {
  content: "\e60b";
}

